h1 {
    background-image: url(img1.webp);
    font-family: Helvetica;
    font-size: 90px;
        font-weight: bold;
    color: khaki;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.item h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.highlight {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}